// ===Common===
$color-bg: #2d2e30;

@mixin fontOpenSans{
    font-family: 'Open Sans', sans-serif;
}
@mixin fontOpenBold{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
@mixin fontRobotoBold{
    font-family: 'Roboto', sans-serif;
}

// ==Adaptive Sizes==
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

$screen-sx-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199;
// ==/Adaptive Sizes==
//===/Common===

// ===Header===
$color-header-bg: #252326;
$fontSize-header-profile-name: 1.6rem;
// ===/Header===

// ===Main===
// ===/Main===
